body{
    padding-top: 65px;
    background-color: lightcyan;
}

main{
    width: 800px;
    height: 550px;
    background: white;
    position: absolute;
    top:20%;
    left: 20%;
}

.image{
    position: absolute;
    left:10%;
    top:5%;
    border-radius: 20px;
    border:solid 1px black;
    width:220px;
    height:477px;
}
h2{
    position: absolute;
    left: 55%;
    top: 5%;
}

p{
    font-size: 18px;
    position:relative;
    left:55%;
    top: 17%;
}

.selectarea{
    position: absolute;
    left:55%;
    top:55%;
}

.change-address{
    position: absolute;
    left:55%;
    top: 66%;
}

.change-payment{
    position: absolute;
    left:70%;
    top:66%;
}

button{
    position: absolute;
    left: 55%;
    top:78%;
}

.arrow-left{
    position: absolute;
    left:5%;
    top:45%;
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
}
.arrow-right{
    position: absolute;
    left: 40%;
    top:45%;
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
}


